.item-detail-image {
    display: flex;
    float: left;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.container-count {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.container-count span {
    font-size: 26px;
    margin: 0ppx 20 px;
}
.container-count button {
    background: grey;
    font-size: 30px;
    padding: 10px;
    width: 50px;
    border: 1px solid #CCC;
}